.the-song-container {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
.land-page-container {
  position: relative;
  height: 100vh;
}
.land-page-container .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.land-page-container .down {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.land-page-container .down img {
  padding: 5vh;
  cursor: pointer;
}
.player-container {
  padding: 10vh 0;
}
.lyric-container {
  height: 80vh;
  padding: 30px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.lyric {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.lyric.active {
  font-weight: 600;
  color: #ce9324;
}

